#running{
    animation: run 5s linear infinite;
}
@keyframes run{
    0%{
        left: 0%;
    }
    100%{
        left: 450px;
    }
}
#shadow {
    text-shadow: 2px 2px 2px yellow,2px 2px 4px red;
}
